In [ ]:
import pandas as pd
import datetime
import numpy as np

### reading in crisis1

In [ ]:
#https://stackoverflow.com/questions/26521266/using-pandas-to-pd-read-excel-for-multiple-worksheets-of-the-same-workbook
crisis1 = pd.ExcelFile('../data/NSSCrisisv.1.xlsx')

In [ ]:
crisis1.sheet_names

In [ ]:
crisis1 = crisis1.parse('in')

In [ ]:
crisis1.head(20)

In [ ]:
crisis1.info()

### cleaning up crisis1

In [ ]:
#drop columns with ALL NaN values
#https://datatofish.com/drop-columns-with-nan/
crisis1 = crisis1.dropna(axis=1, how ='all')
crisis1 = crisis1.dropna(axis=0, how='all')
crisis1.head()

In [ ]:
#replace column names with row1 values
#https://www.adamsmith.haus/python/answers/how-to-convert-a-pandas-dataframe-row-to-column-headers-in-python
header_row = 1
crisis1.columns = crisis1.iloc[header_row]
crisis1.head()

In [ ]:
crisis1 = crisis1.drop(header_row)
crisis1 = crisis1.reset_index(drop=True)
crisis1.head()

In [ ]:
crisis1.tail()

### reading in crisis2

In [ ]:
crisis2 = pd.ExcelFile('../data/NSSCrisisv.2.xlsx')

In [ ]:
crisis2.sheet_names

In [ ]:
crisis2 = crisis2.parse('in')

In [ ]:
crisis2.head(20)

In [ ]:
crisis2.tail()

In [ ]:
crisis2.info()

### cleaning up crisis2

In [ ]:
#drop columns with ALL NaN values
#https://datatofish.com/drop-columns-with-nan/
crisis2 = crisis2.dropna(axis=1, how ='all')
crisis2 = crisis2.dropna(axis=0, how='all')
crisis2.head()

In [ ]:
#replace column names with row1 values
#https://www.adamsmith.haus/python/answers/how-to-convert-a-pandas-dataframe-row-to-column-headers-in-python
crisis2.columns = crisis2.iloc[header_row]
crisis2 = crisis2.drop(header_row)
crisis2 = crisis2.reset_index(drop=True)
crisis2.head()

### reading in call_volume

In [ ]:
#https://stackoverflow.com/questions/26521266/using-pandas-to-pd-read-excel-for-multiple-worksheets-of-the-same-workbook
call_volume = pd.ExcelFile('../data/Contact_center_call_volume_2020-2022.xlsx')
call_volume.sheet_names

In [ ]:
call_volume2020 = call_volume.parse('2020')

In [ ]:
call_volume2021 = call_volume.parse('2021')

In [ ]:
call_volume2022 = call_volume.parse('2022')

In [ ]:
call_volume2020.head()

In [ ]:
call_volume2021.head(20)

### combining crisis1 and crisis2

In [ ]:
crisis = pd.concat([crisis2, crisis1])

In [ ]:
crisis.info()

In [ ]:
crisis = crisis.reset_index(drop=True)
crisis.head(20)

In [ ]:
crisis.tail(20)

In [ ]:
crisis.shape

In [ ]:
crisis['CallDateAndTimeStart'].dtype

In [ ]:
crisis['CallDateAndTimeStart'].value_counts()

In [ ]:
#crisis['call_date'] = crisis.CallDateAndTimeStart.str[0:10]

In [ ]:
#crisis.call_date.value_counts()

In [ ]:
crisis.head()